force-app/main/default/flows/CRM_Patch_Complete_NAV_Task.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Format_datetime</name>
        <label>Format datetime</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <actionName>CRM_FlowUtils</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_comment</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>format</name>
            <value>
                <stringValue>dd.MM.yyyy HH:mm</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <description>Calls apex with the desired action.</description>
        <name>Process_NAV_task</name>
        <label>Process NAV task</label>
        <locationX>182</locationX>
        <locationY>638</locationY>
        <actionName>CRM_NavTaskManager</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Validate_Callout</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>requestType</name>
            <value>
                <stringValue>EDIT</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>task</name>
            <value>
                <elementReference>PATCH_NAV_TASK</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Show_Error_Toast</name>
        <label>Show Error Toast</label>
        <locationX>314</locationX>
        <locationY>878</locationY>
        <actionName>c:fcFlowToaster</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>Flow_Complete_Screen</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>duration</name>
            <value>
                <stringValue>5</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Det oppsto en feil ved ferdigstilling av oppgaven</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Oppdatering feilet</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>error</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Show_Success_Toast</name>
        <label>Show Success Toast</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <actionName>c:fcFlowToaster</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>Flow_Complete_Screen</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>duration</name>
            <value>
                <stringValue>5</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Oppgaven ble ferdigstilt</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Oppdatering vellykket</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>success</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <assignments>
        <description>Assigns the correct status value for the NAV task.</description>
        <name>NAV_Task_Assignment</name>
        <label>NAV Task Assignment</label>
        <locationX>182</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>PATCH_NAV_TASK.NKS_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>FERDIGSTILT</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PATCH_NAV_TASK.NKS_Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NEW_COMMENT</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Process_NAV_task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_comment</name>
        <label>Update comment</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>NEW_COMMENT</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FORMATTED_COMMENT</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NEW_COMMENT</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NEWLINE</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NEW_COMMENT</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NEWLINE</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NEW_COMMENT</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PATCH_NAV_TASK.NKS_Comments__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>NAV_Task_Assignment</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Validate if the callout was successful</description>
        <name>Validate_Callout</name>
        <label>Validate Callout</label>
        <locationX>182</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Show_Error_Toast</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Update failed</defaultConnectorLabel>
        <rules>
            <name>Success</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Process_NAV_task.success</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Salesforce_Task</targetReference>
            </connector>
            <label>Success</label>
        </rules>
    </decisions>
    <description>Flow to automatically set a nav task to the completed state</description>
    <formulas>
        <name>FORMATTED_COMMENT</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!$User.CRM_NAV_Ident__c}),
&apos;--- &apos; + {!Format_datetime} + &apos; ---&apos;,
&apos;--- &apos; + {!Format_datetime}  + &apos; &apos; + {!$User.FirstName} + &apos; &apos; + {!$User.LastName} + &apos; (&apos; + {!$User.CRM_NAV_Ident__c} + &apos;, &apos; + {!$User.Department} + &apos;) ---&apos;
) + {!NEWLINE} + &apos;Oppgaven ble ferdigstilt i Salesforce&apos;</expression>
    </formulas>
    <interviewLabel>Patch Complete NAV Task {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Patch Complete NAV Task</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>Query the NAV task where the screen flow was triggered from</description>
        <name>Get_NAV_Task</name>
        <label>Get NAV Task</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Format_datetime</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>NavTask__c</object>
        <outputReference>PATCH_NAV_TASK</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>INT_External_Reference__c</queriedFields>
        <queriedFields>NKS_Status__c</queriedFields>
        <queriedFields>NKS_Task_Version__c</queriedFields>
        <queriedFields>NKS_Comments__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <description>Updates the Salesforce task with information received from the Apex action.</description>
        <name>Update_Salesforce_Task</name>
        <label>Update Salesforce Task</label>
        <locationX>50</locationX>
        <locationY>878</locationY>
        <connector>
            <targetReference>Show_Success_Toast</targetReference>
        </connector>
        <inputReference>Process_NAV_task.task</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithSharing</runInMode>
    <screens>
        <name>Flow_Complete_Screen</name>
        <label>Flow Complete Screen</label>
        <locationX>182</locationX>
        <locationY>1214</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Complete_Flow</name>
            <extensionName>c:fcFlowCompleter</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>refreshRecord</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <sourceTemplate>CRM_SEND_NAV_TASK_REQUEST_TEMPLATE</sourceTemplate>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_NAV_Task</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>NEWLINE</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!EMPTY_STRING}
{!EMPTY_STRING}</text>
    </textTemplates>
    <variables>
        <name>EMPTY_STRING</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <description>Updated comment to be used in the NAV Task</description>
        <name>NEW_COMMENT</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>NAV task to be sent to API for patch</description>
        <name>PATCH_NAV_TASK</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>NavTask__c</objectType>
    </variables>
    <variables>
        <description>Record ID if the flow is called with a reference to an existing NAV task.</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
