force-app/main/default/flows/CRM_Patch_NAV_Task_Change_NAV_Unit.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Format_datetime</name>
        <label>Format datetime</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <actionName>CRM_FlowUtils</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Change_NAV_Unit</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>format</name>
            <value>
                <stringValue>dd.MM.yyyy HH:mm</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Process_NAV_Task</name>
        <label>Process NAV Task</label>
        <locationX>182</locationX>
        <locationY>998</locationY>
        <actionName>CRM_NavTaskManager</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Validate_Callout</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>assignToUnitNumber</name>
            <value>
                <elementReference>New_NAV_Unit_Record.INT_UnitNumber__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>requestType</name>
            <value>
                <stringValue>EDIT</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>task</name>
            <value>
                <elementReference>NAV_TASK_RECORD</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>NAV_Task_Assignment</name>
        <label>NAV Task Assignment</label>
        <locationX>182</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>NAV_TASK_RECORD.NKS_Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NEW_COMMENT</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NAV_TASK_RECORD.CRM_NavUnit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_NAV_Unit.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NAV_TASK_RECORD.NKS_Assignee__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Process_NAV_Task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_old_NAV_unit</name>
        <label>Set old NAV unit</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>Old_NAV_Unit_Record.INT_UnitNumber__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NAV_TASK_RECORD.CRM_NavUnit__r.INT_UnitNumber__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Format_datetime</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_comment</name>
        <label>Update comment</label>
        <locationX>182</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>NEW_COMMENT</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FORMATTED_COMMENT</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NEW_COMMENT</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NEWLINE</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NEW_COMMENT</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NEWLINE</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NEW_COMMENT</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NAV_TASK_RECORD.NKS_Comments__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>NAV_Task_Assignment</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Validate_Callout</name>
        <label>Validate Callout</label>
        <locationX>182</locationX>
        <locationY>1118</locationY>
        <defaultConnector>
            <targetReference>Flow_Complete_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Update failed</defaultConnectorLabel>
        <rules>
            <name>Success</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Process_NAV_Task.success</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Salesforce_Task</targetReference>
            </connector>
            <label>Success</label>
        </rules>
    </decisions>
    <formulas>
        <name>FORMATTED_COMMENT</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!$User.CRM_NAV_Ident__c}),
&apos;--- &apos; + {!Format_datetime} + &apos; ---&apos;,
&apos;--- &apos; + {!Format_datetime}  + &apos; &apos; + {!$User.FirstName} + &apos; &apos; + {!$User.LastName} + &apos; (&apos; + {!$User.CRM_NAV_Ident__c} + &apos;, &apos; + {!$User.Department} + &apos;) ---&apos;
) + {!NEWLINE} + &apos;Oppgaven er flyttet fra enhet &apos; + {!Old_NAV_Unit_Record.INT_UnitNumber__c} +  &apos; til &apos; + {!New_NAV_Unit_Record.INT_UnitNumber__c} + IF(ISBLANK({!NAV_Task_Assignee}), &apos;.&apos;, &apos;, fra saksbehandler &apos; + {!NAV_Task_Assignee} + &apos; til &lt;ingen&gt;.&apos;)</expression>
    </formulas>
    <formulas>
        <description>The main message of the end toast</description>
        <name>Toast_Message</name>
        <dataType>String</dataType>
        <expression>IF({!Process_NAV_Task.success}, &apos;Enhetsbenk endret.&apos;, &apos;Det oppstod en feil ved endring av enhetsbenk for oppgaven.&apos;)</expression>
    </formulas>
    <formulas>
        <description>The title of the end toast</description>
        <name>Toast_Title</name>
        <dataType>String</dataType>
        <expression>IF({!Process_NAV_Task.success}, &apos;Oppdatering vellykket&apos;, &apos;Oppdatering feilet&apos;)</expression>
    </formulas>
    <formulas>
        <description>The variant of the end toast</description>
        <name>Toast_Variant</name>
        <dataType>String</dataType>
        <expression>IF({!Process_NAV_Task.success}, &apos;success&apos;, &apos;error&apos;)</expression>
    </formulas>
    <interviewLabel>Change {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Patch NAV Task Change NAV Unit</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_NAV_Task</name>
        <label>Get NAV Task</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_old_NAV_unit</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>NavTask__c</object>
        <outputReference>NAV_TASK_RECORD</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>CRM_NavUnit__c</queriedFields>
        <queriedFields>INT_External_Reference__c</queriedFields>
        <queriedFields>NKS_Task_Version__c</queriedFields>
        <queriedFields>NKS_Comments__c</queriedFields>
        <queriedFields>NKS_Assignee__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_New_NAV_Unit_Number</name>
        <label>Get New NAV Unit Number</label>
        <locationX>182</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_comment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>New_NAV_Unit.recordId</elementReference>
            </value>
        </filters>
        <object>NavUnit__c</object>
        <outputReference>New_NAV_Unit_Record</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>INT_UnitNumber__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Salesforce_Task</name>
        <label>Update Salesforce Task</label>
        <locationX>50</locationX>
        <locationY>1238</locationY>
        <connector>
            <targetReference>Flow_Complete_Screen</targetReference>
        </connector>
        <inputReference>Process_NAV_Task.task</inputReference>
    </recordUpdates>
    <screens>
        <name>Change_NAV_Unit</name>
        <label>Change NAV Unit</label>
        <locationX>182</locationX>
        <locationY>518</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_New_NAV_Unit_Number</targetReference>
        </connector>
        <fields>
            <name>New_NAV_Unit</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>CRM_NavUnit__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Ny enhetsbenk</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>NavTask__c</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Lagre</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Flow_Complete_Screen</name>
        <label>Flow Complete Screen</label>
        <locationX>182</locationX>
        <locationY>1454</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Complete_Flow</name>
            <extensionName>c:fcFlowCompleter</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>refreshRecord</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>show_toast</name>
            <extensionName>c:fcFlowCloseWithToast</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>closeModal</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>mode</name>
                <value>
                    <stringValue>dismissible</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>message</name>
                <value>
                    <elementReference>Toast_Message</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>title</name>
                <value>
                    <elementReference>Toast_Title</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>variant</name>
                <value>
                    <elementReference>Toast_Variant</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_NAV_Task</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>NEWLINE</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!EMPTY_STRING}
{!EMPTY_STRING}</text>
    </textTemplates>
    <variables>
        <name>EMPTY_STRING</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>NAV_Task_Assignee</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>NAV_TASK_RECORD.NKS_Assignee__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>NAV_TASK_RECORD</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>NavTask__c</objectType>
    </variables>
    <variables>
        <name>NEW_COMMENT</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>New_NAV_Unit_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>NavUnit__c</objectType>
    </variables>
    <variables>
        <name>Old_NAV_Unit_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>NavUnit__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
