force-app/main/default/flows/CRM_Patch_NAV_Task_Remove_Assignee.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <description>Calls apex with the desired action.</description>
        <name>Process_NAV_task</name>
        <label>Process NAV task</label>
        <locationX>182</locationX>
        <locationY>518</locationY>
        <actionName>CRM_NavTaskManager</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Validate_Callout</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>requestType</name>
            <value>
                <stringValue>EDIT</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>task</name>
            <value>
                <elementReference>PATCH_NAV_TASK</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <assignments>
        <description>Assigns the appropriate values from the input screen to the NAV task.</description>
        <name>NAV_Task_Assignment</name>
        <label>NAV Task Assignment</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>PATCH_NAV_TASK.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PATCH_NAV_TASK.INT_External_Reference__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_NAV_Task.INT_External_Reference__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PATCH_NAV_TASK.NKS_Task_Version__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_NAV_Task.NKS_Task_Version__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PATCH_NAV_TASK.NKS_Assignee__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Process_NAV_task</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Validate if the callout was successful</description>
        <name>Validate_Callout</name>
        <label>Validate Callout</label>
        <locationX>182</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>Error_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Update failed</defaultConnectorLabel>
        <rules>
            <name>Success</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Process_NAV_task.success</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Salesforce_Task</targetReference>
            </connector>
            <label>Success</label>
        </rules>
    </decisions>
    <description>Removes the assignee from the NAV task effectively setting it back to the task list for the NAV unit.</description>
    <dynamicChoiceSets>
        <name>Priority_Picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CRM_Priority__c</picklistField>
        <picklistObject>NavTask__c</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Patch NAV Task Remove Assignee {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Patch NAV Task Remove Assignee</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>Query the NAV task where the screen flow was triggered from</description>
        <name>Get_NAV_Task</name>
        <label>Get NAV Task</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>NAV_Task_Assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>NavTask__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Updates the Salesforce task with information received from the Apex action.</description>
        <name>Update_Salesforce_Task</name>
        <label>Update Salesforce Task</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <inputReference>Process_NAV_task.task</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithSharing</runInMode>
    <screens>
        <name>Confirm_Remove_Screeen</name>
        <label>Confirm Remove Screeen</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_NAV_Task</targetReference>
        </connector>
        <fields>
            <name>Confirmation_Text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Ved å sende tilbake til benken vil nåværende saksbehandler ikke lenger være tildelt oppgaven.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Send tilbake til benken</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Something went wrong when posting/updating the NAV task.</description>
        <name>Error_Screen</name>
        <label>Error_Screen</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_Header</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 18px; color: rgb(231, 21, 21);&quot;&gt;En uventet feil oppsto&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Error_Screen_Message</name>
            <fieldText>&lt;p&gt;Det oppsto en feil ved oppdatering av oppgaven. En utvikler har fått beskjed og vil feilsøke dette. Hvis problemet vedvarer kan du forsøke å oppdatere den direkte i Gosys.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <sourceTemplate>CRM_SEND_NAV_TASK_REQUEST_TEMPLATE</sourceTemplate>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Confirm_Remove_Screeen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>NAV task to be sent to API for patch</description>
        <name>PATCH_NAV_TASK</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>NavTask__c</objectType>
    </variables>
    <variables>
        <description>Record ID if the flow is called with a reference to an existing NAV task.</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
