force-app/main/default/flows/CRM_Retry_NAV_Task_Post.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Posts the NAV Task</description>
        <name>Post_NAV_Task</name>
        <label>Post NAV Task</label>
        <locationX>264</locationX>
        <locationY>398</locationY>
        <actionName>CRM_NavTaskManager</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Add_NAV_Task_for_Update</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>actorId</name>
            <value>
                <elementReference>Retry_Loop.CRM_Account__r.CRM_Person__r.INT_ActorId__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>assignToUnitNumber</name>
            <value>
                <elementReference>Assign_To_Unit</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>createdByUnitNumber</name>
            <value>
                <elementReference>Created_By_Unit_Number</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>POST_AS_SYSTEM</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>requestType</name>
            <value>
                <stringValue>POST</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subthemeCode</name>
            <value>
                <elementReference>Subtheme_Code</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>task</name>
            <value>
                <elementReference>Retry_Loop</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>taskTypeCode</name>
            <value>
                <elementReference>Retry_Loop.NKS_TaskType__r.CRM_Code__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>themeCode</name>
            <value>
                <elementReference>Retry_Loop.NKS_Theme__r.CRM_Code__c</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Add_NAV_Task_for_Update</name>
        <label>Add NAV Task for Update</label>
        <locationX>264</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>NavTasksToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Post_NAV_Task.task</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Retry_Loop</targetReference>
        </connector>
    </assignments>
    <description>Flow to trigger a new API post of a NAV Task that has previously failed.</description>
    <formulas>
        <description>Formula field to define the NAV unit the task is to be assigned to. If blank, standard arbeidsfordeling will be performed by API</description>
        <name>Assign_To_Unit</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK({!Retry_Loop.CRM_NavUnit__c})),
{!Retry_Loop.CRM_NavUnit__r.INT_UnitNumber__c},
null)</expression>
    </formulas>
    <formulas>
        <name>Created_By_Unit_Number</name>
        <dataType>String</dataType>
        <expression>{!Retry_Loop.CreatedBy.Department}</expression>
    </formulas>
    <formulas>
        <description>Formula for better handling of nulls for subtheme code.</description>
        <name>Subtheme_Code</name>
        <dataType>String</dataType>
        <expression>{!Retry_Loop.NKS_Subtheme__r.CRM_Code__c}</expression>
    </formulas>
    <interviewLabel>Retry NAV Task Post {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Retry NAV Task Post</label>
    <loops>
        <description>Looping through all records perform post callouts</description>
        <name>Retry_Loop</name>
        <label>Retry Loop</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <collectionReference>Get_NAV_Task</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Post_NAV_Task</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_NAV_Tasks</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_NAV_Task</name>
        <label>Get NAV Task</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Retry_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>recordIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>NavTask__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_NAV_Tasks</name>
        <label>Update NAV Tasks</label>
        <locationX>176</locationX>
        <locationY>734</locationY>
        <inputReference>NavTasksToUpdate</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_NAV_Task</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>NavTasksToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>NavTask__c</objectType>
    </variables>
    <variables>
        <description>List of ID to rerun.</description>
        <name>recordIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
