force-app/main/default/flows/CRM_Send_NAV_Task_Auto.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Posts the NAV Task</description>
        <name>Post_NAV_Task</name>
        <label>Post NAV Task</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <actionName>CRM_NavTaskManager</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Insert_NAV_Task</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>actorId</name>
            <value>
                <elementReference>Get_Account.CRM_Person__r.INT_ActorId__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>assignToUnitNumber</name>
            <value>
                <elementReference>Assign_To_Unit</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>createdByUnitNumber</name>
            <value>
                <elementReference>Created_By_Unit_Number</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>requestType</name>
            <value>
                <stringValue>POST</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subthemeCode</name>
            <value>
                <elementReference>Subtheme_Code</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>task</name>
            <value>
                <elementReference>NAV_Task</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>taskTypeCode</name>
            <value>
                <elementReference>NAV_Task.NKS_TaskType__r.CRM_Code__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>themeCode</name>
            <value>
                <elementReference>NAV_Task.NKS_Theme__r.CRM_Code__c</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <description>Sets the due date for the task based on configured theme and task type combinations</description>
        <name>Set_Task_Due_Date</name>
        <label>Set Task Due Date</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <actionName>CRM_DueDateUtility</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Post_NAV_Task</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>taskList</name>
            <value>
                <elementReference>NAV_Task</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>NAV_Task.CRM_DueDate__c</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <description>Autolaunched flow for dispatching NAV Task to the oppgave API</description>
    <formulas>
        <description>Formula field to define the NAV unit the task is to be assigned to. If blank, standard arbeidsfordeling will be performed by API</description>
        <name>Assign_To_Unit</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK({!NAV_Task.CRM_NavUnit__c})),
{!NAV_Task.CRM_NavUnit__r.INT_UnitNumber__c},
null)</expression>
    </formulas>
    <formulas>
        <description>Formula for better handling of nulls for subtheme code.</description>
        <name>Subtheme_Code</name>
        <dataType>String</dataType>
        <expression>{!NAV_Task.NKS_Subtheme__r.CRM_Code__c}</expression>
    </formulas>
    <interviewLabel>Autolaunched flow for dispatching NAV Task to the oppgave API {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send NAV Task Auto</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Insert_NAV_Task</name>
        <label>Insert NAV Task</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <inputReference>Post_NAV_Task.task</inputReference>
    </recordCreates>
    <recordLookups>
        <description>Queries the related account of the NAV Task</description>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Task_Due_Date</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NAV_Task.CRM_Account__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Unit number initiating the create request</description>
        <name>Created_By_Unit_Number</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>NAV Task containing data to be sent to oppgave API</description>
        <name>NAV_Task</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>NavTask__c</objectType>
    </variables>
</Flow>
