force-app/main/default/flows/CRM_Retry_NAV_Task_Post.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Posts the NAV Task</description>
        <name>Post_NAV_Task</name>
        <label>Post NAV Task</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <actionName>CRM_NavTaskManager</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_NAV_Task</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>actorId</name>
            <value>
                <elementReference>Get_NAV_Task.CRM_Account__r.CRM_Person__r.INT_ActorId__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>assignToUnitNumber</name>
            <value>
                <elementReference>Assign_To_Unit</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>createdByUnitNumber</name>
            <value>
                <elementReference>Created_By_Unit_Number</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>requestType</name>
            <value>
                <stringValue>POST</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subthemeCode</name>
            <value>
                <elementReference>Subtheme_Code</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>task</name>
            <value>
                <elementReference>Get_NAV_Task</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>taskTypeCode</name>
            <value>
                <elementReference>Get_NAV_Task.NKS_TaskType__r.CRM_Code__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>themeCode</name>
            <value>
                <elementReference>Get_NAV_Task.NKS_Theme__r.CRM_Code__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>POST_AS_SYSTEM</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <description>Flow to trigger a new API post of a NAV Task that has previously failed.</description>
    <formulas>
        <description>Formula field to define the NAV unit the task is to be assigned to. If blank, standard arbeidsfordeling will be performed by API</description>
        <name>Assign_To_Unit</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK({!Get_NAV_Task.CRM_NavUnit__c})),
{!Get_NAV_Task.CRM_NavUnit__r.INT_UnitNumber__c},
null)</expression>
    </formulas>
    <formulas>
        <name>Created_By_Unit_Number</name>
        <dataType>String</dataType>
        <expression>{!Get_NAV_Task.CreatedBy.Department}</expression>
    </formulas>
    <formulas>
        <description>Formula for better handling of nulls for subtheme code.</description>
        <name>Subtheme_Code</name>
        <dataType>String</dataType>
        <expression>{!Get_NAV_Task.NKS_Subtheme__r.CRM_Code__c}</expression>
    </formulas>
    <interviewLabel>Retry NAV Task Post {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Retry NAV Task Post</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_NAV_Task</name>
        <label>Get NAV Task</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Post_NAV_Task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>NavTask__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_NAV_Task</name>
        <label>Update NAV Task</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <inputReference>Post_NAV_Task.task</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_NAV_Task</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>ID of the NAV Task to retry.</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
