force-app/main/default/flows/Patch_NAV_Task_Add_Comment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Format_datetime</name>
        <label>Format datetime</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <actionName>CRM_FlowUtils</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Assign_NAV_Task_Values</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>format</name>
            <value>
                <stringValue>dd.MM.yyyy HH:mm</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Send_Update_Request</name>
        <label>Send Update Request</label>
        <locationX>182</locationX>
        <locationY>638</locationY>
        <actionName>CRM_NavTaskManager</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_API_Response</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>requestType</name>
            <value>
                <stringValue>EDIT</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>task</name>
            <value>
                <elementReference>PATCH_NAV_TASK</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Add_Comment_to_History</name>
        <label>Add Comment to History</label>
        <locationX>50</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>Send_Update_Request.task.NKS_Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FORMATTED_COMMENT</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Send_Update_Request.task.NKS_Comments__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NEWLINE</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Send_Update_Request.task.NKS_Comments__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NEWLINE</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Send_Update_Request.task.NKS_Comments__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_NAV_Task.NKS_Comments__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_NAV_Task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_NAV_Task_Values</name>
        <label>Assign NAV Task Values</label>
        <locationX>182</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>PATCH_NAV_TASK.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PATCH_NAV_TASK.NKS_Task_Version__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_NAV_Task.NKS_Task_Version__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PATCH_NAV_TASK.INT_External_Reference__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_NAV_Task.INT_External_Reference__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PATCH_NAV_TASK.NKS_Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FORMATTED_COMMENT</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Update_Request</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_API_Response</name>
        <label>Check API Response</label>
        <locationX>182</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Add_Comment_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Update Failed</defaultConnectorLabel>
        <rules>
            <name>Update_Success</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Send_Update_Request.success</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Comment_to_History</targetReference>
            </connector>
            <label>Update Success</label>
        </rules>
    </decisions>
    <formulas>
        <description>Generates the comment header</description>
        <name>FORMATTED_COMMENT</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!$User.CRM_NAV_Ident__c}),
&apos;--- &apos; + {!Format_datetime} + &apos; ---&apos;,
&apos;--- &apos; + {!Format_datetime}  + &apos; &apos; + {!$User.FirstName} + &apos; &apos; + {!$User.LastName} + &apos; (&apos; + {!$User.CRM_NAV_Ident__c} + &apos;, &apos; + {!$User.Department} + &apos;) ---&apos;
) + {!NEWLINE} + {!Comment}</expression>
    </formulas>
    <interviewLabel>Patch NAV Task Add Comment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Patch NAV Task Add Comment</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>Query the NAV task hosting this flow</description>
        <name>Get_NAV_Task</name>
        <label>Get NAV Task</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_Comment_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>NavTask__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_NAV_Task</name>
        <label>Update NAV Task</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <inputReference>Send_Update_Request.task</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithSharing</runInMode>
    <screens>
        <name>Add_Comment_Screen</name>
        <label>Add Comment Screen</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Format_datetime</targetReference>
        </connector>
        <fields>
            <name>Comment_Failed_Text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(234, 0, 30);&quot;&gt;Failed to add comment&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Update_Success</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Comment</name>
            <fieldText>Kommentar</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Legg til kommentar</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_NAV_Task</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>NEWLINE</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!EMPTY_STRING}
{!EMPTY_STRING}</text>
    </textTemplates>
    <variables>
        <name>EMPTY_STRING</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue/>
        </value>
    </variables>
    <variables>
        <description>NAV task to be sent for patching via API.</description>
        <name>PATCH_NAV_TASK</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>NavTask__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
